* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  max-width: 100vw;
  /* max-height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin: 0.5rem;
}

header,
#health,
#score-time,
#dialog-end-game {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#left-section {
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  flex-shrink: 1;
  border: 1px solid black;
  text-align: center;
  width: 20vw;
}

#score-time {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
}

#health {
  margin: 0.5rem;
  padding: 0.5rem;
}

h2 {
  padding: 1rem;
}

#left-section,
#center-section,
#right-section {
  height: 88vh;
}

#center-section {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  border: 1px solid black;
}

#button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

#start-game,
#score-table {
  margin: 1rem;
  padding: 1rem;
}

#right-section {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
  flex-shrink: 1;
  border: 1px solid black;
}

#rules-title,
#rules-list {
  margin: 0.5rem;
  padding: 0.5rem;
}

#rules-list > li {
  margin: 0.3rem;
  padding: 0.3rem;
}

#grid {
  height: 74.5%;
  width: 52%;
  display: grid;
  justify-content: center;
  margin-left: 11rem;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  background-color: blue;
  /* border-radius: 50%; */
  overflow: hidden;
}

.cell {
  /* outline: 1px solid red; */
  /* background-color: blue; */
}

.player {
  background-color: green;
  /* background-image: url(./heart\ image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px; */
}

.bad {
  /* background-color: red;
  border-radius: 50%; */
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-top: 30px solid red;
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%);
	width: 18px;
	height: 18px;
  background-color: red;
  transform: rotate(180deg); */
}

.life {
  background-color: yellow;
  clip-path: path(
    "M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 13 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
  );
  /* transform: scale(5); */
  width: 60px;
  height: 60px;
  text-align: center;
}

.bomb {
  background-color: brown;
  border-radius: 50%;
}

dialog {
  margin: auto;
  padding: 2rem;
}

#button-restart,
#button-reset {
  display: flex;
  margin: auto;
  padding: 1.5rem 3.5rem 1.5rem 3.5rem;
  font-size: 1.5rem;
}

#test {
  text-align: center;
}

#dialog-end-game::backdrop {
  /* backdrop-filter: sepia(1) brightness(50%) blur(5px); */
}

#dialog-end-level::backdrop {
  /* backdrop-filter: sepia(1) brightness(50%) blur(5px); */
}

#dialog-end-game > p {
  padding: 3.5rem;
  margin: 0 3.5rem;
  font-size: 2.5rem;
}

#dialog-end-level > p {
  padding: 2.5rem;
  margin: 0 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.button-end-level,
.button-done-playing {
  display: flex;
  margin: auto;
  padding: 1.5rem 3.5rem 1.5rem 3.5rem;
  font-size: 1.5rem;
}
